<div>
    <h2>Editor</h2>
    <div>
        <button ng-repeat="(name, code) in ::samples" ng-click="editor.source = code" ng-bind="::name"></button>
    </div>
    <textarea class="source" ng-model="editor.source" ng-trim="false"></textarea><br/>
    <label>
        <input type="checkbox" ng-model="editor.autoUpdate"/>
        Run automatically
    </label>
    <button ng-click="stop()" ng-show="showStop">Stop</button>
    <br/>
    <input type="range" min="0" max="{{maxStateIndex}}" ng-model="curStateIndex"/>
    <grid source="editor.source" state="state"></grid>
    <div ng-bind="error" class="error"></div>
    <div ng-bind="state | json"></div>
</div>